<div class="row">
  <% if logged_in %>
  <%= form_for [entry,entry.comments.build] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field col-md-8">
    <%= f.text_area :content, placeholder: "Share somethings...." %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary col-md-2" %>
  <% end %>
  <%end%>
</div>